<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bcb197">  <td>18/12/30 14:02:15</td>   <td>0</td> <td title="&gt;&gt;BasicReportsClass.startResult()[pri:0, instance:testcases.CreateLeads1@127bd23]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7688699</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/12/30 14:02:16</td>   <td>576</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLeads1.setdata()[pri:0, instance:testcases.CreateLeads1@127bd23]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7688699</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>18/12/30 14:02:16</td>   <td>608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BasicReportsClass.startTestcase()[pri:0, instance:testcases.CreateLeads1@127bd23]">&gt;&gt;startTestcase</td> 
<td>&nbsp;</td>  <td>main@7688699</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/12/30 14:02:16</td>   <td>629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeads1.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLeads1@127bd23]">createLead</td> 
  <td>main@7688699</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/12/30 14:02:16</td>   <td>663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeads1.createLead(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLeads1@127bd23]">createLead</td> 
  <td>main@7688699</td>   <td></td> </tr>
</table>
